/*estilos generales para todaas las prestaciones*/
body{
	font: 15px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF; /*color de fondo blanco*/

}

/* Estilos globales */
.contenedor{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}
/* Encabezado */
header{
	background-color: #FF5733; /*encabezado color naranja*/
	color: #010101; /*letras de otro color donde dice cafe y restaurte*/
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #37CF0E; /*linea*/
}

/*hasta aqui es pero vere si lo puedo acomodar */

header a{
	color:#FFFFFF; /*color de las letras del encabezado*/
	text-decoration:none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding:0 20px 0 20px;
}

header #marca {
	float: left;
}

header #marca h1{
	margin: 0;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .resaltado{
	color: #FFFFFF; /*color de donde dice los tulipanes */
	font-weight: bold;
}

header a:hover{
	color: #37CF0E; /*color de sombreado*/
	font-weight: bold;
}

/* cuadro con texto 1*/

body{
	background-image: url('../img/fondo2.jpg'); /*aqui se puede poner una imagen de fondo a elegir*/
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
	font-family: monospace;

}

form {
	width: 450px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
}

h2 {
	color: #FFFFFF;
	text-align: center; /*aqui poner color de letras*/
}



p {
	color: #FFFFFF;
	text-align: justify; /*texto justificado y de color a elegir*/	

}

/*estilos de slider*/.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}





